[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cycler = "*"
datetime = "*"
kiwisolver = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pyparsing = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
"zope.interface" = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.10"
